<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>


<body>
<form method="post">
	<!--table id="dg"  align="center"
			class="easyui-datagrid" style="width:100%;height:80%"
			pagination="true" toolbar="#toolbar"
			fitColumns="true" singleSelect="true">

		<tbody>
			<tr>
				<td>姓名：</td>
				<td>黄俊森</td>
			</tr>
		</tbody>
	</table-->
	<table border="0">
		<tr>
		<td>姓名：</td>
		<td>黄俊森</td>
		<td>手机：</td>
		<td>1231231231
		</tr>
		<td>邮箱：</td>
		<td>12@123.com</td>	
		<td>QQ:</td>
		<td>1232354324534</td>
		<tr>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
	</table>
</form>
</body>

</html>